@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bodybgcolor text-white;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #212121;
}

.msg::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #b1aeae;
}
